NODE_ENV=production

# Discord

DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
PREFIX=!
OWNERS=

# Id's

ADMIN_ROLE_ID=
TICKET_CATEGORY_ID=
TICKET_LOG_CHANNEL_ID=
TICKET_NOTIFICATIONS_CHANNEL_ID=
BUG_FALLBACK_CHANNEL_ID=
SUGGESTION_CHANNEL_ID=

# Database - MySQL

DATABASE_URL="mysql://<USERNAME>:<PASSWORD>@127.0.0.1:3308/<DATABASE_NAME>"
