NODE_ENV=production
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
PREFIX=^

# Suggestion System

OWNER_ID=
SUGGESTION_CHANNEL_ID=

# Database - MySQL

DATABASE_URL="mysql://<USERNAME>:<PASSWORD>@127.0.0.1:3306/<DATABASE_NAME>"
