# Bot

# NODE_ENV=production
NODE_ENV=development
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
PREFIX=^

# Suggestion System

OWNER_ID=
SUGGESTION_CHANNEL_ID=

# Database

DATABASE_URL="file:./dev.db"
